<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta property="og:url" content="https://jung-han.github.io" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="2월 16일 일요일, 가족식으로 진행합니다."
    />
    <title>한정 ❤️ 박소원 결혼합니다</title>
  </head>
  <body class="bg-[color:--main-bg]">
    <main class="m-auto flex w-full max-w-md flex-col">
      <slot />
    </main>
  </body>
</html>
